{% extends "catalog/base.html" %}
{% block content %}
{% if perms.catalog.add_blog %}
<div class="mb-5 d-flex justify-content-center align-items-center">
    <a class="btn btn-primary" href="{% url 'blog:create_blog' %}">Добавить запись</a>
</div>
{% endif %}
<div class="row text-center">
    {% for object in object_list %}
    <div class="col-4">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">{{ object.title }}</h4>
                </div>
                <div class="card-body">
                    <p>{{ object.body|slice:100 }}</p>
                    <div class="btn-group" role="group">
                        <a class="btn btn-outline-primary"
                            href="{% url 'blog:blog_detail' object.pk %}">Посмотреть</a>
                        {% if perms.blog.change_blog %}
                        <a class="btn btn-outline-primary"
                            href="{% url 'blog:update_blog' object.pk %}">Редактировать</a>
                        {% endif %}
                        {% if perms.blog.delete_blog %}
                        <a class="btn btn-outline-primary"
                           href="{% url 'blog:delete_blog' object.pk %}">Удалить</a>
                        {% endif %}
                    </div>
                </div>
            </div>
    </div>
    {% endfor %}
</div>
{% endblock %}